{% extends 'base.html.twig' %}

{% block title %}Workshop index{% endblock %}

{% block body %}
    <div id="response-content">
        {% include 'workshop/table_content.html.twig' %}
    </div>
<button  class="btn"><a href="{{ path('app_workshop_new') }}">Create new Workshop</a></button>
{% endblock %}
