{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Name</th>
                <th>File</th>
              
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
            
                <td>{{ lesson.name }}</td>
                <td>{{ lesson.file }}</td>
                <td>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    <a href="{{ path('app_course_front') }}" class="genric-btn info circle" >back to list</a>
{% endblock %}
