{% extends 'base.html.twig' %}

{% block title %}Hackathon index{% endblock %}

{% block body %}
    <div id="response-content">
        {% include 'hackathon/table_content.html.twig' %}
    </div>
    <button  class="btn"><a href="{{ path('app_hackathon_new') }}">Create new hackathon</a></button>


{% endblock %}

